#ihoey-reset div,
#ihoey-reset ul,
#ihoey-reset ol,
#ihoey-reset li,
#ihoey-reset ul li,
#ihoey-reset ol li,
#ihoey-reset iframe,
#ihoey-reset h1,
#ihoey-reset h2,
#ihoey-reset h3,
#ihoey-reset h4,
#ihoey-reset h5,
#ihoey-reset h6,
#ihoey-reset p,
#ihoey-reset img,
#ihoey-reset blockquote,
#ihoey-reset a,
#ihoey-reset span,
#ihoey-reset pre,
#ihoey-reset code,
#ihoey-reset strong,
#ihoey-reset sub,
#ihoey-reset sup,
#ihoey-reset fielihoeyet,
#ihoey-reset form,
#ihoey-reset label,
#ihoey-reset input,
#ihoey-reset textarea,
#ihoey-reset select {
    border: 0;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    font: inherit;
    line-height: inherit;
    background: none;
    width: auto;
    float: none;
    overflow: visible;
    transition: none
}

#ihoey-reset strong {
    font-weight: bold
}

#ihoey-reset p {
    text-indent: 0;
    clear: none
}

#ihoey-reset span,
#ihoey-reset strong,
#ihoey-reset label,
#ihoey-reset input {
    display: inline;
    margin: 0
}

#ihoey-reset textarea:focus,
#ihoey-reset input:focus {
    outline: none
}

#ihoey-reset ul,
#ihoey-reset ol,
#ihoey-reset ul li,
#ihoey-reset ol li {
    list-style: none;
    display: block
}

#ihoey-reset input,
#ihoey-reset button {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
}



#ihoey-reset .ihoey-rounded {
    -webkit-border-radius: 3px;
    border-radius: 3px
}

#ihoey-reset .ihoey-rounded-top {
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}

#ihoey-reset .ihoey-avatar {
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    position: relative;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    float: left;
}

#ihoey-reset .ihoey-avatar img {
    display: block;
    width: 50px;
    height: 50px;
    max-width: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22);
    -webkit-border-radius: 3px;
    border-radius: 3px
}

#ihoey-reset .ihoey-avatar .ihoey-service-icon {
    display: block;
    position: absolute;
    bottom: -4px;
    right: -4px
}

#ihoey-reset img.ihoey-smiley {
    margin: 0;
    padding: 0;
    display: inline;
    border: none
}

#ihoey-reset .ihoey-icon {
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
}

#ihoey-reset a .ihoey-icon {
    opacity: .6;
    -webkit-transition: opacity .15s linear;
    -moz-transition: opacity .15s linear;
    transition: opacity .15s linear
}

#ihoey-reset a:hover .ihoey-icon {
    opacity: 1
}

#ihoey-reset .ihoey-service-list a {
    vertical-align: middle;
    padding-right: 3px
}

#ihoey-reset .ihoey-service-list li:hover a {
    color: #333
}

#ihoey-reset .ihoey-service-icon,
#ihoey-reset .ihoey-service-icon-grey {
    width: 16px !important;
    height: 16px !important;
    line-height: 100px;
    display: inline-block;
    overflow: hidden
}

#ihoey-reset .ihoey-service-icon-grey {}

#ihoey-reset .ihoey-service-link {
    height: 16px !important;
    line-height: 16px;
    padding-left: 20px;
    display: block;
    overflow: hidden
}

#ihoey-reset .ihoey-weibo {
    background-position: 0 0
}

#ihoey-reset .ihoey-renren {
    background-position: 0 -32px
}

#ihoey-reset .ihoey-qqt {
    background-position: 0 -64px
}

#ihoey-reset .ihoey-kaixin {
    background-position: 0 -80px
}

#ihoey-reset .ihoey-douban {
    background-position: 0 -96px
}

#ihoey-reset .ihoey-qzone {
    background-position: 0 -128px
}

#ihoey-reset .ihoey-duoshuo {
    background-position: 0 -144px
}

#ihoey-reset .ihoey-qq {
    background-position: 0 -192px
}

#ihoey-reset .ihoey-baidu {
    background-position: 0 -208px
}

#ihoey-reset .ihoey-google {
    background-position: 0 -240px
}

#ihoey-reset .ihoey-weixin {
    background-position: 0 -272px
}

#ihoey-reset .ihoey-wechat {
    background-position: 0 -272px
}

.ihoey-icons-32 a {
    display: block;
    cursor: pointer;
    width: 32px !important;
    height: 32px !important;
    overflow: hidden;
    text-indent: -9999px
}

.ihoey-icons-32 a.ihoey-weibo {
    background-position: -37px 0 !important
}

.ihoey-icons-32 a.ihoey-qzone {
    background-position: 0 0 !important
}

.ihoey-icons-32 a.ihoey-qqt {
    background-position: -74px 0 !important
}

.ihoey-icons-32 a.ihoey-renren {
    background-position: -148px 0 !important
}

.ihoey-icons-32 a.ihoey-kaixin {
    background-position: -111px 0 !important
}

.ihoey-icons-32 a.ihoey-weixin {
    background-position: -224px 0 !important
}

.ihoey-icons-32 a.ihoey-wechat {
    background-position: -224px 0 !important
}

.ihoey-icons-32 a.ihoey-qq {
    background-position: -488px 0 !important
}

.ihoey-icons-32 a.ihoey-douban {
    background-position: -186px 0 !important
}

.ihoey-icons-32 a.ihoey-baidu {
    background-position: -262px 0 !important
}

#ihoey-reset #ihoey-ctx {
    padding: 0;
    margin: 8px 0;
    max-width: 640px
}

#ihoey-reset #ihoey-ctx .ihoey-ctx-entry {
    padding: 6px;
    margin: 0;
    border-bottom: 1px solid #e6e6e6
}

#ihoey-reset #ihoey-ctx .ihoey-ctx-entry .ihoey-ctx-head a {
    color: #e77064
}

#ihoey-reset #ihoey-ctx .ihoey-ctx-entry .ihoey-ctx-head a:hover {
    color: #d32
}

#ihoey-reset #ihoey-ctx .ihoey-ctx-entry .ihoey-avatar {
    margin: 0;
    width: 30px;
    height: 30px
}

#ihoey-reset #ihoey-ctx .ihoey-ctx-entry .ihoey-avatar img {
    width: 30px;
    height: 30px;
    box-shadow: none
}

#ihoey-reset #ihoey-ctx .ihoey-ctx-entry .ihoey-ctx-body {
    margin-left: 38px
}

#ihoey-reset #ihoey-ctx .ihoey-ctx-entry .ihoey-ctx-head {
    position: relative;
    _zoom: 1;
    line-height: 1em;
    padding: 1px 0 0;
    margin: 0 0 .25em
}

#ihoey-reset #ihoey-ctx .ihoey-ctx-entry .ihoey-ctx-nth {
    color: #999;
    font-size: 12px;
    position: absolute;
    top: 2px;
    right: 0
}



#ihoey-reset #ihoey-ctx .ihoey-ctx-entry .ihoey-ctx-content {
    position: relative;
    _zoom: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    line-height: 1.5em
}

#ihoey-thread {
    clear: both;
    position: relative;
    overflow: visible;
    _zoom: 1
}

#ihoey-thread #ihoey-reset a {
    cursor: pointer;
    text-decoration: none;
    color: #777;
    background-color: transparent;
    -webkit-transition: color .15s linear;
    -moz-transition: color .15s linear;
    transition: color .15s linear
}

#ihoey-thread #ihoey-reset a:hover {
    color: #333
}

#ihoey-thread #ihoey-reset ul,
#ihoey-thread #ihoey-reset ul li {
    background: none;
    margin: 0;
    padding: 0
}

#ihoey-thread #ihoey-reset .ihoey-arrow {
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0 !important;
    line-height: 0 !important;
}

#ihoey-thread #ihoey-reset .ihoey-arrow-down {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff
}

#ihoey-thread #ihoey-reset button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-radius: 0
}

#ihoey-thread #ihoey-reset .ihoey-meta {
    position: relative;
    padding: 8px 0;
    line-height: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13)
}

#ihoey-thread #ihoey-reset .ihoey-like-tooltip ul {
    width: 84px;
    float: left
}

#ihoey-thread #ihoey-reset .ihoey-like-tooltip li {
    line-height: 16px;
    margin: 6px 0
}

#ihoey-thread #ihoey-reset .ihoey-like-tooltip p {
    clear: both;
    margin: 6px 0
}

#ihoey-thread #ihoey-reset .ihoey-like-tooltip .ihoey-like-tooltip-footer {
    text-align: right
}

#ihoey-thread #ihoey-reset a.ihoey-like-thread-button {
    color: #555;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-bottom-color: #aaa;
    box-shadow: inset 0 0 1px #fff;
    margin-right: 15px;
    text-shadow: 0 1px 0 #fff;
    background-color: #e0e0e0;
    background-repeat: no-repeat;
    background-image: linear-gradient(#fff, #fff 25%, #e0e0e0)
}

#ihoey-thread #ihoey-reset a.ihoey-like-thread-button .ihoey-icon-heart {
    position: relative;
    top: -2px;
    opacity: 1
}

#ihoey-thread #ihoey-reset a.ihoey-like-thread-button span {
    color: #555
}

#ihoey-thread #ihoey-reset .ihoey-thread-cancel-like {
    display: none
}

#ihoey-thread #ihoey-reset a.ihoey-thread-liked {
    background: #e9e9e9
}

#ihoey-thread #ihoey-reset a.ihoey-thread-liked:hover .ihoey-thread-cancel-like {
    display: inline
}

#ihoey-thread #ihoey-reset a.ihoey-thread-liked:hover .ihoey-thread-like-text {
    display: none
}

#ihoey-thread #ihoey-reset #ihoey-hot-posts {
    border: 1px solid #ccc;
    overflow: hidden;
    margin: 8px 0;
    padding: 0;
    _height: 100%
}

#ihoey-thread #ihoey-reset .ihoey-header {
    font-weight: bold;
    font-size: 14px;
    color: #555;
    line-height: 30px;
    padding: 0 12px
}

#ihoey-thread #ihoey-reset .ihoey-toolbar {
    position: relative;
    z-index: 5;
    font-size: 12px;
    padding: 8px 0;
    width: 100%;
    clear: both
}

#ihoey-thread #ihoey-reset .ihoey-toolbar:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

#ihoey-thread #ihoey-reset .ihoey-visitor {
    float: right;
    line-height: 1.5em;
    margin-right: 6px
}

#ihoey-thread #ihoey-reset .ihoey-account-control {
    float: right;
    position: relative;
    font-size: 12px;
    cursor: pointer;
    text-align: right;
    line-height: 18px;
    padding-bottom: 3px;
    width: 75px
}

#ihoey-thread #ihoey-reset .ihoey-account-control span {
    display: block;
    float: left;
    color: #999
}

#ihoey-thread #ihoey-reset .ihoey-account-control ul {
    display: none;
    position: absolute;
    top: 19px;
    left: 0;
    border: 1px solid #aaa;
    background: #f8f8f8;
    box-shadow: inset 0 1px 1px #fff, 0 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    text-align: center
}

#ihoey-thread #ihoey-reset .ihoey-account-control ul li a {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 3px 10px;
    text-shadow: 0 1px 0 #fff
}

#ihoey-thread #ihoey-reset .ihoey-account-control ul li a:hover {
    color: #555
}

#ihoey-thread #ihoey-reset .ihoey-account-control.ihoey-active span {
    color: #555
}

#ihoey-thread #ihoey-reset .ihoey-account-control.ihoey-active ul {
    display: block
}

#ihoey-thread #ihoey-reset .ihoey-alert {
    margin: .5em 0;
    border: 1px solid #fbeed5;
    border-radius: 3px;
    padding: 6px 6px;
    color: #c09853;
    background-color: #fcf8e3;
    line-height: 1.5em
}

#ihoey-thread #ihoey-reset .ihoey-login-buttons {
    width: 100%;
    position: relative;
    padding: 10px 0 6px
}

#ihoey-thread #ihoey-reset .ihoey-login-buttons p {
    float: left;
    line-height: 24px;
    margin: 0
}

#ihoey-thread #ihoey-reset .ihoey-login-buttons .ihoey-service-list li {
    float: left;
    height: 16px;
    width: 54px;
    padding: 4px 0;
    margin: 0 0 0 6px
}

#ihoey-thread #ihoey-reset .ihoey-login-buttons .ihoey-more-services {
    color: #d32 !important;
    line-height: 16px;
    display: block
}

#ihoey-thread #ihoey-reset .ihoey-login-buttons .ihoey-more-services:hover {
    color: #e77064 !important
}

#ihoey-thread #ihoey-reset .ihoey-login-buttons .ihoey-additional-services {
    display: none
}

#ihoey-thread #ihoey-reset .ihoey-login-buttons .ihoey-social-links {
    float: left;
    width: 306px
}

#ihoey-thread #ihoey-reset .ihoey-login-buttons:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

#ihoey-thread #ihoey-reset a.ihoey-unread-comments-count {
    display: none;
    background-color: #d32;
    color: #fff !important;
    margin-right: 6px;
    padding: 1px 5px;
    font-weight: bold;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)
}

#ihoey-thread #ihoey-reset a.ihoey-unread-comments-count:hover {
    background: #f00
}

#ihoey-thread #ihoey-reset .ihoey-replybox {
    width: auto;
    font-size: 12px;
    z-index: 3;
    margin: 8px 0;
    padding: 0 0 0 60px;
    position: relative;
    _zoom: 1
}

#ihoey-thread #ihoey-reset .ihoey-replybox:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

#ihoey-thread #ihoey-reset .ihoey-replybox .ihoey-avatar {
    position: absolute;
    top: 0;
    left: 0
}

#ihoey-thread #ihoey-reset .ihoey-replybox .ihoey-avatar img {
    width: 50px;
    height: 50px;
    visibility: visible;
    margin: 0
}

#ihoey-thread #ihoey-reset .ihoey-inline-replybox {
    margin: 8px 0 2px 0;
    padding-left: 38px
}

#ihoey-thread #ihoey-reset .ihoey-inline-replybox .ihoey-avatar img {
    width: 30px;
    height: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22)
}

#ihoey-thread #ihoey-reset .ihoey-textarea-wrapper {
    position: relative;
    border: 1px solid #ccc;
    border-bottom: none;
    padding-right: 20px;
    overflow: hidden
}

#ihoey-thread #ihoey-reset .ihoey-textarea-wrapper textarea {
    box-shadow: none;
    -webkit-appearance: none;
    overflow: auto;
    padding: 10px;
    height: 54px;
    margin: 0;
    resize: none;
    color: #999;
    width: 100%
}

#ihoey-thread #ihoey-reset .ihoey-textarea-wrapper textarea:focus {
    color: #333
}

#ihoey-thread #ihoey-reset .ihoey-textarea-wrapper .ihoey-hidden-text {
    word-wrap: break-word;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px
}

#ihoey-thread #ihoey-reset .ihoey-textarea-wrapper textarea,
#ihoey-thread #ihoey-reset .ihoey-textarea-wrapper .ihoey-hidden-text {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    border: none
}

#ihoey-thread #ihoey-reset .ihoey-post-toolbar {
    position: relative;
    width: 100%;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6)
}

#ihoey-thread #ihoey-reset .ihoey-post-toolbar span,
#ihoey-thread #ihoey-reset .ihoey-post-toolbar input,
#ihoey-thread #ihoey-reset .ihoey-post-toolbar label,
#ihoey-thread #ihoey-reset .ihoey-post-toolbar a {
    vertical-align: middle;
    width: auto
}

#ihoey-thread #ihoey-reset .ihoey-post-options {
    position: relative;
    margin-right: 100px;
    height: 30px;
    border: 1px solid #ccc;
    border-right: none;
    border-bottom-color: #aaa;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px
}

#ihoey-thread #ihoey-reset .ihoey-toolbar-buttons {
    position: absolute;
    top: 5px;
    left: 6px
}

#ihoey-thread #ihoey-reset .ihoey-toolbar-button {
    display: block;
    width: 19px !important;
    height: 19px;
    float: left;
    margin-right: 4px;
    vertical-align: middle;
    opacity: .6;
    -webkit-transition: opacity .15s linear;
    -moz-transition: opacity .15s linear;
    transition: opacity .15s linear
}

#ihoey-thread #ihoey-reset .ihoey-toolbar-button:hover {
    opacity: 1
}

#ihoey-thread #ihoey-reset .ihoey-add-image {
    background-position: 0 -48px
}

#ihoey-thread #ihoey-reset .ihoey-add-image:hover {
    background-position: 0 -66px
}

#ihoey-thread #ihoey-reset .ihoey-add-emote {
    background-position: 0 -12px
}

#ihoey-thread #ihoey-reset .ihoey-add-emote:hover {
    background-position: 0 -30px
}

#ihoey-thread #ihoey-reset .ihoey-sync {
    font-size: 12px;
    color: #999;
    line-height: 30px;
    position: absolute;
    right: 5px
}

#ihoey-thread #ihoey-reset .ihoey-sync label {
    color: #777;
    cursor: pointer;
    transition: color .15s linear
}

#ihoey-thread #ihoey-reset .ihoey-sync label:hover {
    color: #555
}

#ihoey-thread #ihoey-reset .ihoey-sync a.ihoey-service-icon,
#ihoey-thread #ihoey-reset .ihoey-sync a.ihoey-service-icon-grey {
    margin: 7px 2px 7px 3px
}

#ihoey-thread #ihoey-reset .ihoey-post-button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    right: 0;
    top: 0;
    height: 32px;
    width: 100px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    color: #555;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-bottom-color: #aaa;
    border-bottom-right-radius: 3px;
    background-color: #e6e6e6;
    transition: all .15s linear;
    box-shadow: inset 0 0 1px #fff
}

#ihoey-thread #ihoey-reset .ihoey-post-button:hover {
    background-position: 0 -15px;
    color: #333
}

#ihoey-thread #ihoey-reset .ihoey-post-button:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)
}

#ihoey-thread #ihoey-reset .ihoey-comments-info {
    width: 100%;
    font-size: 13px;
    margin-top: 10px;
    padding: 8px 0;
    line-height: 25px;
    position: relative
}

#ihoey-thread #ihoey-reset .ihoey-sort {
    position: absolute;
    right: 0;
    top: 8px
}

#ihoey-thread #ihoey-reset .ihoey-sort a {
    color: #999;
    padding: 0 4px;
    margin: 0 2px
}

#ihoey-thread #ihoey-reset .ihoey-sort a:hover {
    color: #333
}

#ihoey-thread #ihoey-reset .ihoey-sort a.ihoey-current,
#ihoey-thread #ihoey-reset .ihoey-sort a:active {
    color: #d32
}



#ihoey-thread #ihoey-reset ul.ihoey-comments-tabs .ihoey-service-icon {
    vertical-align: middle;
    margin: 0 2px 1px 0
}

#ihoey-thread #ihoey-reset li.ihoey-tab {
    display: inline;
    font-size: 13px;
    margin: 0 5px 0 0;
    padding: 0
}

#ihoey-thread #ihoey-reset li.ihoey-tab a {
    text-shadow: 0 1px 0 #fff;
    padding: 3px 5px;
    display: inline;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

#ihoey-thread #ihoey-reset li.ihoey-tab a.ihoey-current {
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.04)
}

#ihoey-thread #ihoey-reset li.ihoey-tab a:hover {
    background-color: rgba(0, 0, 0, 0.04)
}

#ihoey-thread #ihoey-reset .ihoey-comments {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13)
}

#ihoey-thread #ihoey-reset .ihoey-comments:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

#ihoey-thread #ihoey-reset li.ihoey-post {
    width: 100%;
    overflow: hidden;
    clear: both;
    border-top: 1px solid rgba(0, 0, 0, 0.13);
    margin: 0;
    padding: 0;
    list-style: none
}

#ihoey-thread #ihoey-reset li.ihoey-post-placeholder {
    text-align: center;
    color: #999;
    padding: 1em 0
}

#ihoey-thread #ihoey-reset .ihoey-post-self {
    position: relative;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.7)
}

#ihoey-thread #ihoey-reset .ihoey-post-self:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

#ihoey-thread #ihoey-reset .ihoey-post-self:hover .ihoey-post-delete,
#ihoey-thread #ihoey-reset .ihoey-post-self:hover .ihoey-post-report {
    display: inline-block
}

#ihoey-thread #ihoey-reset.ihoey-touch .ihoey-post-self .ihoey-post-delete,
#ihoey-thread #ihoey-reset.ihoey-touch .ihoey-post-self .ihoey-post-report {
    display: inline-block
}







#ihoey-thread #ihoey-reset .ihoey-comment-body embed {
    max-width: 100%
}

#ihoey-thread #ihoey-reset .ihoey-comment-body code {
    display: block;
    font-size: 12px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    padding: 8px 12px;
    background-color: #f0f0f0;
    margin: 8px 0;
    border-radius: 3px;
    border: 1px solid #ddd;
    color: #666
}

#ihoey-thread #ihoey-reset .ihoey-comment-body a {
    color: #777
}

#ihoey-thread #ihoey-reset .ihoey-comment-body a:hover {
    color: #555
}

#ihoey-thread #ihoey-reset a.ihoey-comment-context {
    position: relative;
    margin: .5em 0;
    color: #e77064
}

#ihoey-thread #ihoey-reset a.ihoey-comment-context:hover {
    color: #d32
}

#ihoey-thread #ihoey-reset #ihoey-bubble {
    position: absolute;
    background-color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    color: #333;
    border: 1px solid #aaa;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    font-size: 13px
}

#ihoey-thread #ihoey-reset #ihoey-bubble a {
    color: #e77064
}

#ihoey-thread #ihoey-reset #ihoey-bubble a:hover {
    color: #d32
}

#ihoey-thread #ihoey-reset #ihoey-bubble p {
    line-height: 18px
}

#ihoey-thread #ihoey-reset #ihoey-bubble .ihoey-arrow-border {
    border-top-color: #aaa;
    bottom: -6px
}

#ihoey-thread #ihoey-reset #ihoey-bubble .ihoey-arrow {
    left: 32px;
    bottom: -5px
}

#ihoey-thread #ihoey-reset #ihoey-ctx-bubble {
    width: 300px
}

#ihoey-thread #ihoey-reset #ihoey-ctx-bubble .ihoey-bubble-footer {
    padding: 6px 0 0 0;
    line-height: 18px
}

#ihoey-thread #ihoey-reset #ihoey-user-card {
    width: 276px;
    min-height: 50px
}

#ihoey-thread #ihoey-reset #ihoey-user-card .ihoey-avatar {
    margin-right: 10px
}

#ihoey-thread #ihoey-reset #ihoey-user-card .ihoey-avatar img {
    width: 50px;
    height: 50px
}



#ihoey-thread #ihoey-reset #ihoey-user-card .ihoey-user-card-meta {
    margin: 14px 0 0 62px
}

#ihoey-thread #ihoey-reset #ihoey-user-card .ihoey-user-description {
    border-top: 1px dotted #ddd;
    margin-top: .5em;
    color: #aaa
}

#ihoey-thread #ihoey-reset #ihoey-user-card .ihoey-service-icon {
    margin-right: 3px
}

#ihoey-thread #ihoey-reset .ihoey-post-liked .ihoey-icon-like {
    background-position: 0 -130px
}

#ihoey-thread #ihoey-reset .ihoey-post-delete,
#ihoey-thread #ihoey-reset .ihoey-post-report {
    display: none
}

#ihoey-thread #ihoey-reset ul.ihoey-children {
    margin-left: 38px
}

#ihoey-thread #ihoey-reset ul.ihoey-children .ihoey-avatar {
    width: 30px;
    height: 30px
}

#ihoey-thread #ihoey-reset ul.ihoey-children .ihoey-avatar img {
    width: 30px;
    height: 30px
}

#ihoey-thread #ihoey-reset ul.ihoey-children .ihoey-post-self {
    padding-left: 0
}

#ihoey-thread #ihoey-reset ul.ihoey-children .ihoey-comment-body {
    padding-left: 38px
}

#ihoey-thread #ihoey-reset .ihoey-paginator {
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    text-align: right;
    padding-bottom: 15px;
    clear: both;
    line-height: 1em
}

#ihoey-thread #ihoey-reset .ihoey-paginator div.ihoey-border {
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    margin-bottom: 15px
}

#ihoey-thread #ihoey-reset .ihoey-paginator a {
    font-size: 12px;
    margin: 0 3px;
    padding: 2px 5px;
    border: 1px solid transparent
}

#ihoey-thread #ihoey-reset .ihoey-paginator a:hover,
#ihoey-thread #ihoey-reset .ihoey-paginator a.ihoey-current {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.03)
}

#ihoey-thread #ihoey-reset .ihoey-paginator a.ihoey-current {
    color: #d32;
    border: 1px solid #ccc
}

#ihoey-thread #ihoey-reset .ihoey-powered-by {
    font-size: 12px;
    text-align: right;
    padding: 10px 0
}

#ihoey-thread #ihoey-reset .ihoey-powered-by a {
    color: #999;
    text-decoration: none
}

#ihoey-thread #ihoey-reset .ihoey-powered-by a:hover {
    color: #555
}

#ihoey-thread #ihoey-reset.ihoey-no-transition .ihoey-post-button:hover,
#ihoey-thread #ihoey-reset.ihoey-no-transition .ihoey-more a:hover {
    background-position: 0 -30px !important
}

#ihoey-thread #ihoey-reset.ihoey-no-opacity li.ihoey-post {
    border-top: 1px solid #ddd
}

#ihoey-thread #ihoey-reset.ihoey-no-opacity .ihoey-comments,
#ihoey-thread #ihoey-reset.ihoey-no-opacity .ihoey-paginator {
    border-bottom: 1px solid #ddd
}

#ihoey-thread #ihoey-reset.ihoey-no-opacity .ihoey-post-self {
    border-top: none
}

#ihoey-thread #ihoey-reset.ihoey-no-opacity .ihoey-tab a.ihoey-current {
    background: #f8f8f8
}

#ihoey-thread #ihoey-reset.ihoey-ie6 .ihoey-post-report,
#ihoey-thread #ihoey-reset.ihoey-ie6 .ihoey-post-delete {
    display: inline !important
}

#ihoey-thread #ihoey-reset.ihoey-ie6 .ihoey-textarea-wrapper {
    padding: 10px 10px
}

#ihoey-thread #ihoey-reset.ihoey-ie6 .ihoey-textarea-wrapper textarea {
    width: 95%;
    color: #333;
    padding: 0
}

#ihoey-thread #ihoey-reset.ihoey-ie6 .ihoey-post {
    width: 100%;
    float: left
}

#ihoey-thread #ihoey-reset.ihoey-ie6 .ihoey-tab a.ihoey-current {
    padding-bottom: 5px
}

#ihoey-thread #ihoey-reset.ihoey-ie6 #ihoey-ctx-bubble .ihoey-arrow {
    bottom: -8px
}

#ihoey-thread #ihoey-reset.ihoey-ie6 #ihoey-ctx-bubble .ihoey-arrow-border {
    bottom: -9px
}

#ihoey-thread.ihoey-narrow #ihoey-reset .ihoey-post-self {
    padding: 8px
}

#ihoey-thread.ihoey-narrow #ihoey-reset .ihoey-comment-body,
#ihoey-thread.ihoey-narrow #ihoey-reset .ihoey-replybox {
    padding-left: 38px
}

#ihoey-thread.ihoey-narrow #ihoey-reset .ihoey-avatar img {
    width: 30px;
    height: 30px
}

#ihoey-thread.ihoey-narrow #ihoey-reset .ihoey-post-button {
    width: 70px
}

#ihoey-thread.ihoey-narrow #ihoey-reset .ihoey-post-options {
    margin-right: 70px
}

#ihoey-smilies-tooltip {
    border: 1px solid #aaa;
    position: absolute;
    width: 400px;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 0 #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

#ihoey-smilies-tooltip a {
    cursor: pointer
}

#ihoey-smilies-tooltip ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

#ihoey-smilies-tooltip ul.ihoey-smilies-tabs {
    width: 119px;
    position: absolute;
    top: 0;
    left: 0;
    height: 159px;
    overflow-y: auto;
    background: #f8f8f8;
    border-right: 1px solid #ccc;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

#ihoey-smilies-tooltip ul.ihoey-smilies-tabs li:first-child a {
    border-top-left-radius: 3px
}

#ihoey-smilies-tooltip ul.ihoey-smilies-tabs li a.ihoey-current {
    color: #666;
    background: #e3e3e3;
    filter: none;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1)
}

#ihoey-smilies-tooltip .ihoey-smilies-container {
    padding: 10px 5px;
    height: 140px;
    margin-left: 125px;
    overflow-y: auto
}

#ihoey-smilies-tooltip .ihoey-smilies-container li {
    list-style: none;
    float: left;
    width: 26px;
    height: 26px;
    text-align: center;
    cursor: pointer
}

#ihoey-smilies-tooltip .ihoey-smilies-container li img {
    visibility: visible
}

#ihoey-smilies-tooltip .ihoey-smilies-container li:hover {
    position: relative;
    top: -1px
}

#ihoey-wrapper {
    left: 0;
    right: 0;
    top: 20%;
    bottom: 0;
    width: 100%;
    margin: auto;
    z-index: 9999;
    position: fixed;
    _position: absolute;
    text-align: center;
    color: #777
}

#ihoey-wrapper .ihoey-dialog,
#ihoey-wrapper #ihoey-reset.ihoey-dialog {
    margin: 0 auto;
    text-align: left;
    _zoom: 1;
    width: 480px;
    max-width: 100%
}

#ihoey-wrapper #ihoey-reset.ihoey-dialog-bind-more .ihoey-service-list {
    width: 50%
}

#ihoey-wrapper #ihoey-reset a {
    cursor: pointer;
    text-decoration: none;
    color: #777
}

#ihoey-wrapper #ihoey-reset .ihoey-dialog-inner {
    width: 100%;
    position: relative;
    border: 1px solid #aaa;
    text-shadow: 0 1px 0 #fff;
    box-shadow: inset 0 1px 1px #fff, 0 2px 6px rgba(0, 0, 0, 0.4)
}

#ihoey-wrapper #ihoey-reset .ihoey-dialog-inner .ihoey-unread-list {
    max-height: 300px;
    overflow-y: auto
}

#ihoey-wrapper #ihoey-reset .ihoey-control-group {
    margin: 18px 0;
    position: relative;
    padding-right: 80px;
    max-width: 166px
}

#ihoey-wrapper #ihoey-reset .ihoey-control-group input {
    color: #777;
    width: 100%;
    font-size: 13px;
    border: 1px solid #ccc;
    padding: 4px 80px 6px 6px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1)
}

#ihoey-wrapper #ihoey-reset .ihoey-control-group input:focus {
    border-color: #08b5fb
}

#ihoey-wrapper #ihoey-reset .ihoey-control-group label {
    font-size: 13px;
    color: #ccc;
    letter-spacing: 1px;
    position: absolute;
    right: 0;
    top: 8px
}

#ihoey-wrapper #ihoey-reset tr {
    height: 45px
}

#ihoey-wrapper #ihoey-reset button {
    cursor: pointer;
    color: #555;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: linear-gradient(#fff, #fff 25%, #e6e6e6);
    transition: all .15s linear;
    border: 1px solid #aaa;
    display: inline-block;
    font-size: 15px;
    height: 30px;
    width: 100px;
    padding: 0
}

#ihoey-wrapper #ihoey-reset button:hover {
    background-position: 0 -15px;
    color: #333
}

#ihoey-wrapper #ihoey-reset button:active {
    top: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)
}

#ihoey-wrapper #ihoey-reset h2 {
    display: block;
    font-weight: normal;
    font-size: 16px;
    margin: 0 0 15px 0;
    color: #555
}

#ihoey-wrapper #ihoey-reset .ihoey-dialog-body {
    padding: 30px 30px 25px;
    position: relative;
    overflow: hidden
}

#ihoey-wrapper #ihoey-reset .ihoey-icons-32 {
    height: 32px;
    margin-bottom: 20px;
    overflow: hidden
}

#ihoey-wrapper #ihoey-reset .ihoey-icons-32 a {
    float: left;
    margin: 0 5px 0 0
}

#ihoey-wrapper #ihoey-reset ul li {
    margin: 10px 0
}

#ihoey-wrapper #ihoey-reset .ihoey-service-list {
    width: 45%;
    float: left
}

#ihoey-wrapper #ihoey-reset .ihoey-service-list .ihoey-more-services {
    display: none
}

#ihoey-wrapper #ihoey-reset .ihoey-icon-ok {
    background-position: 0 -203px;
    width: 12px;
    height: 12px
}

#ihoey-wrapper #ihoey-reset .ihoey-quote {
    margin: 10px 0;
    padding: 6px 10px;
    background: #f8f8f8;
    line-height: 1.5em;
    font-size: 12px;
    overflow-y: auto;
    max-height: 180px
}

#ihoey-wrapper #ihoey-reset .ihoey-textarea-wrapper {
    border: 1px solid #ccc;
    padding: 0 20px 0 0;
    position: relative;
    margin: 12px 0
}

#ihoey-wrapper #ihoey-reset .ihoey-textarea-wrapper textarea {
    width: 100%;
    height: 54px;
    margin: 0;
    resize: none;
    padding: 6px 10px;
    overflow: auto
}

#ihoey-wrapper #ihoey-reset .ihoey-textarea-wrapper .ihoey-hidden-text {
    top: 0;
    left: 10px;
    right: 10px;
    position: absolute;
    visibility: hidden;
    word-wrap: break-word
}

#ihoey-wrapper #ihoey-reset .ihoey-textarea-wrapper textarea,
#ihoey-wrapper #ihoey-reset .ihoey-textarea-wrapper .ihoey-hidden-text {
    font-size: 13px;
    line-height: 1.5em
}

#ihoey-wrapper #ihoey-reset .ihoey-actions {
    position: relative;
    height: 30px
}

#ihoey-wrapper #ihoey-reset .ihoey-actions button {
    display: block;
    position: absolute;
    top: 0;
    right: 0
}

#ihoey-wrapper #ihoey-reset .ihoey-dialog-close {
    position: absolute;
    bottom: 13px;
    right: 11px;
    display: block;
    width: 13px;
    height: 13px;
}

#ihoey-wrapper #ihoey-reset .ihoey-dialog-close:hover {
    background-position: 0 -176px
}

#ihoey-wrapper #ihoey-reset .ihoey-logo {
    display: inline-block;
    width: 64px;
    height: 21px;
    margin-right: 10px;
}

#ihoey-wrapper #ihoey-reset .ihoey-dialog-footer {
    clear: both;
    border-top: 1px dotted #ccc;
    padding: 10px 15px 6px
}

#ihoey-wrapper #ihoey-reset .ihoey-dialog-footer span {
    color: #999;
    position: relative;
    top: -6px
}

#ihoey-wrapper #ihoey-reset .ihoey-connect {
    display: none
}

#ihoey-wrapper #ihoey-reset .ihoey-unread-list li {
    position: relative;
    margin: 0;
    padding: 8px 0;
    border-top: 1px solid #eee;
    line-height: 1.5em;
    color: #777
}

#ihoey-wrapper #ihoey-reset .ihoey-unread-list li a {
    color: #d32
}

#ihoey-wrapper #ihoey-reset .ihoey-unread-list li a:hover {
    color: #e45c4e
}

#ihoey-wrapper #ihoey-reset .ihoey-unread-list li a[rel~="author"] {
    color: #777
}

#ihoey-wrapper #ihoey-reset .ihoey-unread-list li .ihoey-delete {
    display: none;
    position: absolute;
    right: 0;
    bottom: 10px;
    text-indent: -9999px;
    width: 14px;
    height: 14px;
    overflow: hidden;
}

#ihoey-wrapper #ihoey-reset .ihoey-unread-list li:hover .ihoey-delete {
    display: block
}

#ihoey-wrapper #ihoey-reset.ihoey-touch .ihoey-unread-list li .ihoey-delete {
    display: block
}

#ihoey-wrapper.ihoey-no-transition #ihoey-reset button:hover {
    background-position: 0 -30px !important
}

#ihoey-wrapper.ihoey-ie6 #ihoey-reset {
    margin-top: 0
}

#ihoey-wrapper.ihoey-ie6 #ihoey-reset .ihoey-dialog-footer span {
    top: -3px
}

#ihoey-login .ihoey-icons-32 a {
    float: left;
    margin: 0 5px 0 0
}

#ihoey-thread #ihoey-reset .ihoey-powered-by {
    display: none;
}


/*多说附加样式*/

#ihoey-reset .ihoey-avatar {
    background: none !important;
    box-shadow: none !important;
}

#ihoey-reset .ihoey-avatar img,
#ihoey-thread #ihoey-reset ul.ihoey-children .ihoey-avatar img {
    width: 50px !important;
    height: 50px !important;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -o-transition: .8s;
    -ms-transition: .8s;
    padding: 3px;
    border: 1px solid #ddd;
    background: #fff;
}

.ihoey-post:hover .ihoey-avatar img {
    transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    border-radius: 30px !important;
}

#ihoey-reset .ihoey-avatar img:hover {
    transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    border-radius: 30px !important;
}

#ihoey-thread #ihoey-reset .ihoey-comment-body,
#ihoey-thread #ihoey-reset ul.ihoey-children .ihoey-comment-body {
    padding-left: 70px !important;
}

#ihoey-thread #ihoey-reset .ihoey-comment-body,
#ihoey-thread #ihoey-reset ul.ihoey-children .ihoey-comment-body {
    padding-left: 70px !important;
}

.ihoey-post:hover {
    background: #eee !important;
}

#ihoey-thread #ihoey-reset ul.ihoey-children .ihoey-avatar {
    width: 50px !important;
}

#ihoey-thread #ihoey-reset .ihoey-replybox {
    padding: 0 0 0 80px !important;
}

#ihoey-reset #ihoey-ctx .ihoey-ctx-entry .ihoey-ctx-body {
    margin-left: 68px !important;
}

#ihoey-recent-comments li.ihoey-comment:nth-of-type(1) {
    border: none !important;
}
/*多说附加样式结束*/

/*多说自定义评论表情样式*/

img.biaoqing,
#ihoey-thread #ihoey-reset .ihoey-comment-body img.biaoqing {
    display: inline;
    margin: 0;
    width: auto;
    max-width: 6.25rem;
}

img.newpaopao,
#ihoey-thread #ihoey-reset .ihoey-comment-body img.newpaopao {
    margin-bottom: -0.25rem;
    min-height: 1.875rem;
    height: 1em;
}

img.alu,
#ihoey-thread #ihoey-reset .ihoey-comment-body img.alu {
    margin-bottom: -0.3125rem;
    min-height: 2.0625rem;
    height: 1em;
}


/*多说自定义表情样式*/

#ihoey-smilies-tooltip ul.ihoey-smilies-tabs {
    display: none;
}

#ihoey-smilies-tooltip .ihoey-smilies-container {
    padding: 15px 15px;
    height: 200px;
    margin-left: 0 !important;
}

#ihoey-smilies-tooltip .ihoey-smilies-container li {
    max-width: 100px;
    height: 40px !important;
    margin: 0 7px;
}

#ihoey-smilies-tooltip {
    border: .0625rem solid #aaa;
    position: absolute;
    max-width: 25rem;
    min-width: 12.5rem;
    width: calc(100% - 6.625rem);
    background-color: #fff;
    z-index: 9999;
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.2);
    text-shadow: 0 0.0625rem 0 #fff;
    -webkit-border-radius: .1875rem;
    border-radius: .1875rem;
}

#ihoey-thread #ihoey-reset .ihoey-comment-body,
#ihoey-thread #ihoey-reset ul.ihoey-children .ihoey-comment-body {
    padding-left: 70px !important;
}

#ihoey-thread #ihoey-reset .ihoey-comment-body,
#ihoey-thread #ihoey-reset ul.ihoey-children .ihoey-comment-body {
    padding-left: 70px !important;
}

.ihoey-post:hover {
    background: #eee !important;
}

#ihoey-thread #ihoey-reset ul.ihoey-children .ihoey-avatar {
    width: 50px !important;
}

#ihoey-thread #ihoey-reset .ihoey-replybox {
    padding: 0 0 0 80px !important;
}

#ihoey-reset #ihoey-ctx .ihoey-ctx-entry .ihoey-ctx-body {
    margin-left: 68px !important;
}

#ihoey-recent-comments li.ihoey-comment:nth-of-type(1) {
    border: none !important;
}

#ihoey-thread {
    border-radius: 3px;
}

.ihoey-meta {
    opacity: .5;
}

.ihoey-meta:hover {
    opacity: 1;
}
